/* -- General Settings -- */
* {
	box-sizing: border-box;
	margin: 0%;
	padding: 0%;
}

:root {
	--font-lato: "Lato", sans-serif;
	--principal-color: #ffd602;
	--brand-color: #d5040a;
	--secondary-color: #036cb6;
}

html {
	font-size: 62.5%; /* Equivalente a 10px*/
}

body {
	block-size: 100vh;
	font-family: var(--font-lato);
}

.page {
	position: relative;
	block-size: 100vh;
}

/* ---- Main Content ---- */
.container {
	position: absolute;
	block-size: 100%;
	z-index: 10;
	display: grid;
	grid:
		"header aside" 2fr
		"main aside" 5fr
		"footer aside" 3fr
		/ 5.5fr 4.5fr;
	overflow: hidden;
}

header {
	grid-area: header;
	animation: navbar 2.5s cubic-bezier(0.93, 0.13, 0.18, 1.39) 1.5s;
}

.navbar-content {
	padding-left: 80px;
	inline-size: 100%;
	block-size: 100%;
	display: flex;
	align-items: center;
}

@keyframes navbar {
	from {
		transform: translateY(-100%);
	}
	to {
		transform: translateY(0px);
	}
}

.navbar-content picture {
	inline-size: 50px;
	block-size: 50px;
}

.navbar-content picture img {
	inline-size: 100%;
}

.navbar-content ul {
	display: flex;
	inline-size: 450px;
	justify-content: space-evenly;
	list-style-type: none;
}
.navbar-content ul li a {
	font-size: 1.6rem;
	font-weight: 300;
	text-decoration: none;
	color: var(--brand-color);
}

main {
	grid-area: main;
	animation: main-content 2.5s cubic-bezier(0.93, 0.13, 0.18, 1.39) 1.5s;
}

.main-content {
	block-size: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding-left: 80px;
}

.main-content h1 {
	font-size: 4.8rem;
	font-weight: 700;
}

.main-content p:nth-child(1) {
	font-size: 3.6rem;
	font-weight: normal;
	margin-inline-start: 4.4rem;
}

.main-content .content {
	inline-size: 70%;
	margin-block-start: 28px;
	font-size: 1.6rem;
	font-weight: 300;
}

@keyframes main-content {
	from {
		transform: translateX(-100%);
	}
	to {
		transform: translateX(0px);
	}
}

aside {
	grid-area: aside;
}

.side-content {
	block-size: 100%;
	display: grid;
	grid-template-columns: repeat(6, 1fr);
	align-items: center;
}

.side-content div:nth-child(1) {
	grid-row: 1;
	grid-column: 1;
	opacity: 0;
	transform: rotateZ(-90deg);
	animation: side-content-text 0.5s ease-in-out 2.5s forwards;
}

@keyframes side-content-text {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

.side-content div:nth-child(1) p {
	font-size: 3rem;
}

.side-content picture {
	inline-size: 100%;
	grid-row: 1;
	grid-column: 2 / 6;
	animation: side-content-img 2s cubic-bezier(0.93, 0.13, 0.18, 1.39) 1.5s;
	z-index: 8;
}

@keyframes side-content-img {
	from {
		transform: translateX(100%);
	}
	to {
		transform: translateX(0px);
	}
}

.side-content picture img {
	inline-size: 100%;
}

.side-content div:nth-child(2) {
	grid-row: 1;
	grid-column: 4 / 7;
	block-size: 100%;
	background: var(--principal-color);
}

footer {
	grid-area: footer;
	animation: footer 2s cubic-bezier(0.2, 0.85, 0.92, 0.24) 1.5s;
}

@keyframes footer {
	from {
		transform: translateY(100%);
	}
	to {
		transform: translateY(0px);
	}
}

.footer-content {
	display: flex;
	justify-content: space-evenly;
	align-items: flex-end;
	block-size: 100%;
	border-radius: 0 70px 0 0;
	background: var(--principal-color);
}

.footer-content picture {
	position: relative;
	inline-size: 130px;
	block-size: 50%;
	border-radius: 20px 20px 0 0;
	background: var(--secondary-color);
}

.footer-content picture img {
	position: absolute;
	inline-size: 100%;
	inset-block-end: 60px;
	transition: transform 500ms ease-in-out;
}

.footer-content picture:hover img {
	transform: scale(1.3) translateY(-20px);
	cursor: pointer;
}

/* ---- Loader ---- */

.loader {
	position: absolute;
	inline-size: 100%;
	block-size: 100%;
	display: grid;
	place-items: center;
	background: #f89334;
	z-index: 30;
	animation: loading 2s linear forwards;
}

@keyframes loading {
	0% {
		opacity: 1;
		visibility: visible;
	}

	95% {
		opacity: 1;
		visibility: visible;
	}

	100% {
		opacity: 0;
		visibility: hidden;
	}
}

.loader .circles-container {
	inline-size: 200px;
	block-size: 50px;
	display: grid;
	place-items: center;
	grid-template-columns: repeat(3, 1fr);
}

.circles-container .circle {
	inline-size: 40px;
	block-size: 40px;
	border-radius: 50%;
	background: #fff;
	transform: scale(0);
	animation: scaling 2s ease-in-out infinite;
}

.circles-container .circle:nth-child(1) {
	animation-delay: 200ms;
}
.circles-container .circle:nth-child(2) {
	animation-delay: 400ms;
}
.circles-container .circle:nth-child(3) {
	animation-delay: 600ms;
}

@keyframes scaling {
	0%,
	100% {
		transform: scale(0.2);
	}

	40% {
		transform: scale(1);
	}

	50% {
		transform: scale(1);
	}
}

/* ---- Modal ---- */
.modal {
	position: absolute;
	inline-size: 100%;
	block-size: 100%;
	background: rgba(0, 0, 0, 0.5);
	z-index: 15;
	display: grid;
	place-items: center;
}

.modal__content {
	inline-size: 50%;
	block-size: 50%;
	display: grid;
	grid-template-rows: max-content 1fr;
	place-items: center;
	background: #fff;
}

.modal__content .modal__content--close {
	justify-self: end;
	align-self: flex-start;
}
.modal__content img:hover {
	cursor: pointer;
}
.hidden {
	display: none;
}

.visible {
	display: grid;
}

.modal__content--slider {
	align-self: center;
	inline-size: 300px;
	block-size: 300px;
	display: flex;
	flex-direction: column;
	align-items: center;
	transform-style: preserve-3d;
}

.modal__content--slider .btn-primary {
	box-sizing: border-box;
	margin-block-start: 40px;
	inline-size: 200px;
	block-size: 80px;
	font-size: 1.6rem;
	font-weight: bold;
	outline: 1px solid #fa5757;
	border: none;
	border-radius: 1rem;
	cursor: pointer;
	color: #ce3737;
	background: #fff;
	transition: background 0.5s ease-in-out, color 2s ease;
}

.modal__content--slider .btn-primary:hover {
	background: #fa5757;
	color: #fff;
}

.cards {
	position: relative;
	inline-size: 100%;
	block-size: 100%;
}

.card {
	position: absolute;
	inset-inline-start: 0;
	inset-inline-end: 0;
	margin: 0 auto;
	inline-size: 50%;
	block-size: 100%;
	transition: transform 0.5s ease-in;
	cursor: pointer;
	display: grid;
	place-items: center;
	background: var(--principal-color);
}

.cards img {
	inline-size: 100%;
}

/* Estilos cuando una card este seleccionada */
#radio-1:checked ~ .cards #card-1,
#radio-2:checked ~ .cards #card-2,
#radio-3:checked ~ .cards #card-3 {
	transform: translateX(0px) scale(1);
	opacity: 1;
	z-index: 5;
}

/* Cuando una card esta seleccionada, las demas que se trasladen a la derecha en un 40% */
#radio-1:checked ~ .cards #card-2,
#radio-2:checked ~ .cards #card-3,
#radio-3:checked ~ .cards #card-1 {
	transform: translateX(40%) scale(0.8);
	opacity: 0.5;
	z-index: 4;
}

/* Cuando una card esta seleccionada, las demas que se trasladen a la izquierda en un 40% (por eso el -40%) */
#radio-1:checked ~ .cards #card-3,
#radio-2:checked ~ .cards #card-1,
#radio-3:checked ~ .cards #card-2 {
	transform: translateX(-40%) scale(0.8);
	opacity: 0.5;
	z-index: 4;
}
